{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2015",
    "paths": {
      "@/*": ["./src/*"]
    },
    "baseUrl": "./"
  },
  "minify": false
} 